.app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .1rem 2rem;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 999; 
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: left;
}

.app__navbar-logo img {
    width: 160px;
}

.app__navbar-links {
    flex: 1;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* text-decoration: none; */
    
}

.app__navbar-links li {
    color: black;
    margin: 0 1rem;
    cursor: pointer; 
}

.app__navbar-links li a{
    color: black;
    /* margin: 0 1rem;
    cursor: pointer;  */
    text-decoration: none;
}

.app__navbar-links li a:hover {
    color:  #d5700d;
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: .5s ease;
}

.app__navbar-login a:hover {
    border-bottom: 1px solid #d5700d;
}

.app__navbar-login div {
    width: 1px;
    height: 30px;
    background: black;
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #6f6f6f;
    transition: .8s ease;

    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 35px;
    cursor: pointer;
    color: white;

    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
    text-decoration: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
  
}
.app__navbar-smallscreen_links a{
    text-decoration: none;
    color: white;
}


.app__navbar-smallscreen_links li a:hover {
    color: #F28C28;
}

@media screen and (min-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 140px;
    }
}