/* Add appropriate styles to section container */
#here {
    padding: 60px;
    
  }
  h2{
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #d5700d;
  }
  
  /* Style form container */
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  /* Style form input fields */
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus {
    border-bottom-color: #3498db;
  }
  
  /* Style form labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style form select options */
  select option {
    font-weight: normal;
  }
  
  /* Style form submit button */
  button {
    display: block;
    margin: 0 auto; /* Add margin: 0 auto; to center horizontally */
    
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Responsive styles for smaller devices */
  @media (max-width: 768px) {
    form {
      padding: 10px;
    }
  }
  